{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quotes From {{ Author }}</title>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://static.staticsave.com/quotessite/style.css">
</head>
<body>
<div class="card">
  <p>
    {{ Author }}
  </p>
  <h2>
    "{{ Quotes }}"
  </h2>
</div>
</body>
<script>
    setTimeout(() => {
  document.location.reload();
}, 10000);
</script>
</html>